@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
  --main: #00BBA4;
}
* {
  padding: 0;
  margin: 0;
  font-family:'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #E5E5E5;
}

.logoTitle {
  color: #122A3D;
}

.btn {
  color: var(--main);
}
.bg-btn {
  background-color: var(--main);
}
.hoverBg {
  background-color: #00BBA4;
}
.headerCard {
  background: #f2f2f2;
  border-radius: 16px;
}
.headerCard >img {
  border-radius: 12px;
  opacity: 1;
}
.logo {
  width: 27px;
  height: 28px;
}
.ytp-gradient-top {
  display: none!important;
}
.ytp-title-text {
  display: none!important;
}